body {
  background: no-repeat
    url("https://s.ytimg.com/yt/imgbin/www-refreshbg-vflC3wnbM.png") 0 0;
  background-color: #ebebeb;
  background-repeat: repeat;
  color: #44413c;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

a {
  color: #36c;
  text-decoration: none;
}

a:visited {
  color: #6a60b0;
}

.container {
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
  max-width: 800px;
}

.header {
  border-bottom: 2px solid #44413c;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.entry-title {
  margin: 0 0 5px 0;
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 0.5px;
  font-family:
    Times New Roman,
    serif;
}

.entry-subtitle {
  font-style: italic;
  color: #66615a;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
}

.header-links {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}

.header-links a {
  color: #58544e;
  text-decoration: none;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.header-links a:hover {
  text-decoration: underline;
}

.entry-content {
  column-gap: 40px;
  margin-bottom: 30px;
  text-align: justify;
  font-size: 15px;
  font-family: Arial, sans-serif;
}

.footer {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 20px;
  font-size: 12px;
  color: #66615a;
  font-style: italic;
}

h2 {
  font-family:
    Times New Roman,
    serif;
  font-weight: 300;
}

h3 {
  font-family: Arial, sans-serif;
}

pre,
code:not(pre code) {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 4px;
  white-space: pre-wrap;
}

.model-dropdown {
  appearance: none;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  color: #44413c;
  font-size: 14px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.model-selection {
  margin: 0;
  padding: 0;
}

.footer p {
  margin: 0;
}
